[data-callout]{
  border-left: 2px solid rgba(0,0,0);

  padding: .9rem 1rem;
  margin: 1rem 0;
}

[data-callout-title]{
  font-weight: bold;
  margin-bottom: .5rem;
  color:red;
}

[data-callout-body] > :first-child{ margin-top: 0; }
[data-callout-body] > :last-child{ margin-bottom: 0; }
